h1{
    font-size:100px ;
    font-family:fantasy,sofia;
    font-style: bold;
    color: solid black;
    position: relative;
    bottom: -70px;
         
}

#this {
    display: inline;
     height: 10px;
    font-size: 20px;
   
  
    
}

#firstname{
    height: 16%;
    width: 80%;
    position: relative;
    bottom:-2px;
    left: 60px;
    text-align-last: center;
    font-size: 20px;
    font-style:normal;
    font-family:fantasy;
    
}
#elements, #butDisplay{
    height: 16%;
    width: 80%;
    position: relative;
    bottom:-2px;
    left: 60px;
    text-align-last: center;
    font-size: 16px;
    font-style:normal;
    font-family:fantasy;
}
#dlt, #btn{
    height: 10%;
    width: 40%;
    position: relative;
    bottom:-2px;
    left: 60px;
    text-align-last: center;
    font-size: 16px;
    font-style:normal;
    font-family:fantasy

}

#enter{
    position: relative;
    bottom: 220px;
    left: 100px;
    height: 70%;
    width: 80%;
    font-size: 38px;
    font-family: cursive;
}

button:hover{
    background-color:gainsboro;
}
#me{
     border-radius: 10px;
    height: 40%;
    margin-left: 80px;
    margin-right: 80px;
    background-image: url(wood-background.jpg);
    
}
p{
    background-color:darkgoldenrod;
    position: relative;
    bottom: -1px;
    height: 50px;
    text-align-last: center;
    font-size: 40px;
    font-family: cursive;
    margin-left: 100px;
    margin-right: 200px;
    left: 10px;
}

.greet{
    border-radius: 10px;
      margin-left: 80px;
    margin-right: 80px;
    position: relative;
        bottom: -2px;
     background-image: url(wood-background.jpg);
    
     height: 450px;
}
body{
    background-image: url(wood-background.jpg);
    position: fixed;
    left: 150px;
    bottom: -20px;
}