h1{
    font-size:100px ;
    font-family: "Kaushan Script", cursive;
    font-style: bold;
}


.col-lg-3{
  margin-left: 36em;
}

.center{
  font-family: "Playfair Display", cursive;
  margin-left: 5em;
  margin-right: 5em;
}

#displayOutput{
  font-size: 16px;
    font-family: "Playfair Display", cursive;
    margin-left: 15em;
    margin-right: 15em;
    background-color: beige;

}
